.dif-type{
    font-style:normal;
    text-align: center;
}
body{
    background-color: rgb(36, 136, 123);
    color: rgb(55, 36, 99);
}
div{
    text-align: center;
}

img{
    border-radius: 100px;
    width: 150px;
    margin: auto;
}

.subtitulo{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
    margin-bottom: -5px;
}
ul{
    margin-left: 10px;
    margin-bottom: 50px;
}
.links{
    text-align: center;
    line-height: 0px;
    background-color: rgb(74, 190, 118);
    color: rgb(55, 36, 99);
    border-radius: 7px;
    padding: 7px;
    text-decoration: none;
    
}