body {
    background-color: rgb(31, 16, 65);
    color: rgb(74, 190, 118);
}

img {
    border-radius: 100px;
    width: 160px;
}

.imag {
    
    width: 160px;
    text-align: center;
    display: flex;
}

.title {
    text-align: center;
    margin-bottom: 50px;
}

.box{
    text-align: center;
    width: 700px;
     display: flex;
    margin-left: 25%;
    margin-bottom: 100px;
}
 .legend {
    text-align: center;
    font-size: 16px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 450px;
    margin-left: 5%;
    margin-top: 5%;
    display: flex;
}

ul {
    margin-left: 30px;
    margin-bottom: 50px;
}

.links {
    text-align: center;
    line-height: 0px;
    background-color: rgb(74, 190, 118);
    color: rgb(31, 16, 65);
    border-radius: 7px;
    padding: 7px;
    text-decoration: none;

}