body {
    background-color: rgb(31, 16, 65);
    color: rgb(74, 190, 118);
}

img {
    border-radius: 100px;
    width: 160px;
    display: inline-block;
}
.legend {
    display:inline-block;
    width: 800px;

}

.title {
    text-align: center;
    margin-bottom: 50px;
}

.box{
      border: 5px solid white;
}


ul {
    margin-left: 30px;
    margin-bottom: 50px;
}

.links {
    text-align: center;
    line-height: 0px;
    background-color: rgb(74, 190, 118);
    color: rgb(31, 16, 65);
    border-radius: 7px;
    padding: 7px;
    text-decoration: none;

}